@font-face {
    font-family:swiper-icons;
    src:url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
    font-weight:400;
    font-style:normal
}
@font-face {
    font-family: SnapWeb;
    src: url(../fonts/SnappWeb2.0-Bold.woff) format(woff);
    font-weight: normal;
}

@font-face {
    font-family: SnapWeb;
    src: url(../fonts/SnappWeb2.0-Regular.woff) format(woff);
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

:root {
    font-family: IRANSansMobile;
    --sf-surface-main: #F9FAFB;
    --sf-surface-dark: #EBEDF0;
    --sf-surface-light: #FFFFFF;
    --sf-surface-overlay: #3A3D42;
    --sf-surface-alphaLight: rgba(249,250,251,0.06);
    --sf-surface-alphaMedium: rgba(249,250,251,0.12);
    --sf-surface-alphaHigh: rgba(249,250,251,0.24);
    --sf-carbon-main: #3A3D42;
    --sf-carbon-dark: #181B1F;
    --sf-carbon-light: #53565C;
    --sf-carbon-overlay: #FFFFFF;
    --sf-carbon-alphaLight: rgba(58,61,66,0.06);
    --sf-carbon-alphaMedium: rgba(58,61,66,0.12);
    --sf-carbon-alphaHigh: rgba(24,28,32,0.2);
    --sf-accent-main: #FF00A6;
    --sf-accent-dark: #E00096;
    --sf-accent-light: #FF38AC;
    --sf-accent-overlay: #FFFFFF;
    --sf-accent-alphaLight: rgba(255,0,166,0.06);
    --sf-accent-alphaMedium: rgba(255,0,166,0.12);
    --sf-accent-alphaHigh: rgba(255,0,166,0.24);
    --sf-accent2-main: #00B862;
    --sf-accent2-dark: #008542;
    --sf-accent2-light: #18C775;
    --sf-accent2-overlay: #FFFFFF;
    --sf-accent2-alphaLight: rgba(0,133,66,0.06);
    --sf-accent2-alphaMedium: rgba(0,133,66,0.1);
    --sf-accent2-alphaHigh: rgba(0,133,66,0.2);
    --sf-alert-main: #FA284B;
    --sf-alert-dark: #E00025;
    --sf-alert-light: #FF3D5D;
    --sf-alert-overlay: #FFFFFF;
    --sf-alert-alphaLight: rgba(250,40,75,0.04);
    --sf-alert-alphaMedium: rgba(250,40,75,0.12);
    --sf-alert-alphaHigh: rgba(250,40,75,0.24);
    --sf-attention-main: #FACB0F;
    --sf-attention-dark: #9E6900;
    --sf-attention-light: #FFD83D;
    --sf-attention-overlay: #000000;
    --sf-attention-alphaLight: rgba(250,203,15,0.1);
    --sf-attention-alphaMedium: rgba(250,203,15,0.2);
    --sf-attention-alphaHigh: rgba(250,203,15,0.36);
    --sf-inactive-main: #EDEFF0;
    --sf-inactive-dark: #A6AAAD;
    --sf-inactive-light: #EDEFF0;
    --sf-inactive-overlay: #EDEFF0;
    --sf-inactive-alphaLight: #EDEFF0;
    --sf-inactive-alphaMedium: #EDEFF0;
    --sf-inactive-alphaHigh: #EDEFF0;
    --sf-fonts-default: IRANSansMobile;
    --sf-fonts-snapweb: SnapWeb;
    --sf-scales-default: 1rem;
    --sf-scales-caption: 0.75rem;
    --sf-scales-xlarge: 1.5rem;
    --sf-scales-xxlarge: 1.75rem;
    --sf-scales-large: 1.125rem;
    --sf-scales-body: 0.875rem;
    --sf-scales-tiny: 0.625rem;
    --sf-lineHeight-default: 1.5rem;
    --sf-lineHeight-caption: 1rem;
    --sf-lineHeight-xlarge: 2rem;
    --sf-lineHeight-xxlarge: 2.25rem;
    --sf-lineHeight-large: 1.75rem;
    --sf-lineHeight-body: 1.25rem;
    --sf-lineHeight-tiny: 0.75rem;
    --sf-weight-bold: 700;
    --sf-weight-regular: 500;
    --sf-weight-normal: 400;
    --sf-weight-light: 300;
    --sf-spacing-0: 0rem;
    --sf-spacing-1: 0.5rem;
    --sf-spacing-2: 1rem;
    --sf-spacing-3: 1.5rem;
    --sf-spacing-4: 2rem;
    --sf-spacing-5: 2.5rem;
    --sf-spacing-6: 3rem;
    --sf-spacing-7: 3.5rem;
    --sf-spacing-8: 4rem;
    --sf-spacing-9: 4.5rem;
    --sf-spacing-10: 5rem;
    --sf-breakpoints-xs: 0px;
    --sf-breakpoints-sm: 600px;
    --sf-breakpoints-md: 960px;
    --sf-breakpoints-lg: 1280px;
    --sf-breakpoints-xl: 1920px;
    --sf-borders-xs: 0.09375rem;
    --sf-borders-md: 0.1875rem;
    --sf-borders-lg: 0.375rem;
    --sf-shadows-inset: inset 0px 1px 6px rgba(0,0,0,0.04);
    --sf-shadows-small: 0px 1px 0px rgba(58,61,66,0.06),0px 2px 8px -2px rgba(0,0,0,0.05);
    --sf-shadows-medium: 0px 1px 0px rgba(58,61,66,0.06),0px 4px 16px -8px rgba(0,0,0,0.2);
    --sf-shadows-high: 0px 1px 0px rgba(58,61,66,0.06),0px 8px 32px -16px rgba(0,0,0,0.3);
    --sf-shadows-modal: 0px 2px 8px rgba(0,0,0,0.08),0px 8px 32px rgba(0,0,0,0.16);
    --sf-shadows-none: none;
    --sf-gradients-foodParty: radial-gradient(100% 303.06% at 0% 0%,#f69 0%,#e02291 100%);
    --sf-gradients-marketParty: radial-gradient(100% 303.06% at 0% 0%,#66cc91 0%,#20bc97 100%);
    --sf-gradients-sweetParty: radial-gradient(100% 303.06% at 0% 0%,#ff83b8 0%,#f16ba3 100%);
    --sf-gradients-otherParty: radial-gradient(100% 303.06% at 0% 0%,#828699 0%,#474a59 100%);
}

body {
    font-family: 'SnapWeb';
    margin: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    transition: all 50ms;
}

a {
    background-color: transparent;
}

.gWZRYC {
    min-height: 100vh;
}

.kHUHMT {
    display: flex !important; 
    -webkit-box-pack: initial !important;
    place-content: initial !important;
    -webkit-box-align: initial !important;
    align-items: initial !important;
    flex-flow: column nowrap !important;
}

.kBjvbJ {
    -webkit-box-flex: 1 !important;
    flex-grow: 1 !important;
    box-sizing: border-box !important;
    width: 100% !important;
    max-width: 85.375rem !important;
    margin: 0px auto !important;
}

.gJAAsL {
    --padding-size: 2.5rem !important;
    padding: var(--padding-size) 0 !important;
}

.gJAAsL > :first-child {
    margin-bottom: 4rem !important;
}

.gJAAsL > * {
    margin: 0 var(--padding-size) !important;
}

#main .ejuXjt {
    --hero-heading-size: 2.5rem !important;
    --hero-content-margin: 9.125rem !important;
    position: relative !important;
    box-sizing: border-box !important;
    height: 44rem !important;
    padding: 2rem !important;
    overflow: hidden !important;
    background-color: rgb(249, 250, 251) !important;
    border-bottom-right-radius: 7.5rem !important;
}

.gJAAsL > div > * {
    margin-bottom: 2rem !important;
}

.iXCuzl {
    position: absolute !important;
    top: 9.375rem !important;
    left: 0px !important;
    width: 40% !important;
    height: 85% !important;
    margin-top: -2.5rem !important;
}


.p-absolute {
    position: absolute !important;

}


.pink {
    box-sizing: border-box;
    border: 0.09375rem solid rgb(255, 0, 166);
    border-radius: 0.375rem;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 166);
    background-clip: padding-box;
    box-shadow: none;
    font-family: IRANSansMobile;
    font-size: 1.125rem;
    font-weight: 700;
}

.fxXAfa {
    margin-top: var(--hero-content-margin);
}

.jdbfGT {
    font-family: SnapWeb;
    font-weight: 700;
    line-height: 2rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}

.iBbvsE {
    font-size: var(--hero-heading-size);
}

.hfAGnP {
    --view-height: 3.75rem;
    display: inline-block;
    height: var(--view-height);
    margin-right: 0.5rem;
    overflow: hidden;
}

.kpLJCc > * {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: var(--view-height);
}

.hLCGsb {
    font-family: SnapWeb;
    font-weight: 700;
    line-height: 2rem;
    width: auto;
    padding: 0px;
    margin: 0px;
    color: rgb(255, 0, 166);
}

.fdRzaA {
    font-family: SnapWeb;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(83, 86, 92);
    text-align: initial;
}

.LDgcI {
    z-index: 100;
    box-sizing: border-box;
    width: 30vw;
    min-width: 16.875rem;
    max-width: 50%;
    height: 3.5rem;
    margin-top: 1.75rem;
    background-color: rgb(255, 255, 255);
    border: 0.0625rem solid rgba(58, 61, 66, 0.12);
    border-radius: 5rem;
    box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
}

.LDgcI > :first-child > :first-child {
    margin-right: 1.1875rem;
}

.LDgcI > :first-child > :last-child {
    margin-right: 0.6875rem;
}

.kXfuJW {
    font-family: IRANSansMobile;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(166, 170, 173);
    text-align: initial;
}

.LDgcI > :last-child {
    margin-left: 0.25rem;
}

.bfwvvK {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all 150ms ease-out 0s;
    box-sizing: border-box;
    min-width: auto;
    width: 3rem;
    height: 3rem;
    border: 0.09375rem solid rgba(255, 0, 166, 0.06);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 166);
    background-clip: padding-box;
    box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
    font-family: IRANSansMobile;
    font-size: 1.125rem;
    font-weight: 700;
}

.gJAAsL > div > * {
    margin-bottom: 2rem;
}

.jPnCUN {
    position: relative;
    z-index: 100;
    padding: 1rem 0px 0.5rem;
    background-color: rgba(242, 244, 245, 0.75);
    border-radius: 1.5rem;
    overflow: hidden;
    overflow-x: auto;
}

.gJzivv {
    min-width: 5.5rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.gJzivv > :first-child {
    margin-bottom: 1rem;
}

.fPgtmC {
    font-family: IRANSansMobile;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(83, 86, 92);
    text-align: initial;
}

.auEpD {
    font-family: IRANSansMobile;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(83, 86, 92);
    text-align: initial;
}

.bSoxch {
    box-sizing: border-box;
    width: calc(100% + 2rem);
    margin: calc(-1rem);
}

.jBCiuq {
    position: relative;
    height: 5.9375rem;
    padding: 0.1875rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.75rem !important;
    box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 30%) 0px 8px 32px -16px;
    cursor: pointer;
    transition: all 200ms ease-in-out 0s;
}

.gavXvj {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 0.25rem 1rem 0.25rem 0.8125rem;
    background-color: inherit;
    border-top-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    transition: all 200ms ease-in-out 0s;
}

.gavXvj > :not(svg) {
    margin-left: 0.8125rem;
}


.jgMDLg {
    font-family: IRANSansMobile;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}

.igzeAJ {
    box-sizing: border-box;
    margin-top: 9.375rem;
    padding: 4rem;
    background-color: rgb(235, 237, 240);
    border-bottom-right-radius: 7.5rem;
}

.fdRzaA {
    font-family: SnapWeb;
    font-weight: 400;
    font-size: 0.875rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(83, 86, 92);
    text-align: justify;
}

.gaFNHB {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(83, 86, 92);
    text-align: initial;
}

.kkezMQ {
    box-sizing: border-box;
    width: 35vw;
    min-width: 17.8125rem;
    max-width: 50%;
    height: 3rem;
    margin-top: 0.375rem;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 0.0625rem solid rgba(58, 61, 66, 0.12);
    border-radius: 0.375rem;
    box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
}

.gpFFff {
    position: relative;
    height: 3rem;
    border-radius: 0.375rem;
    background-color: rgb(255, 255, 255);
    transition: border 150ms ease 0s;
    box-sizing: border-box;
    border: 0.09375rem solid rgba(58, 61, 66, 0.12);
}

.ehEHcu {
    padding: 0.75rem;
    border: none;
    outline: none;
    direction: rtl;
    margin: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0.375rem;
    color: rgb(58, 61, 66);
}

.kkezMQ > :last-child {
    margin-left: 0.5rem;
}

.gwTvXT {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all 150ms ease-out 0s;
    box-sizing: border-box;
    min-width: 6.6875rem;
    width: auto;
    height: 2rem;
    border: 0.09375rem solid rgb(255, 0, 166);
    border-radius: 0.375rem;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 166);
    background-clip: padding-box;
    box-shadow: none;
    font-family: IRANSansMobile;
    font-size: 0.875rem;
    font-weight: 700;
}

.cKgIbO {
    left: 3.4375rem;
    transform: translateY(-31%);
}

.bFWRYv {
    margin-top: 10.0625rem;
    padding: 3rem;
    background-color: rgb(249, 250, 251);
    border-radius: 2rem;
}

.VmnXU {
    font-family: SnapWeb;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}

.lgqjga {
    text-decoration: none;
}

.dKnnpb {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all 150ms ease-out 0s;
    box-sizing: border-box;
    min-width: 6.6875rem;
    width: auto;
    height: 3rem;
    border: 0.09375rem solid rgb(255, 0, 166);
    border-radius: 0.375rem;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 166);
    background-clip: padding-box;
    box-shadow: none;
    font-family: IRANSansMobile;
    font-size: 1.125rem;
    font-weight: 700;
}

.bmKNtj {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: initial;
}

.lltKvl {
    margin-top: -8.75rem;
}

.lfeZyC {
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border-top: 0.0625rem solid rgb(235, 237, 240);
}

.kONnDL {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}

.clefAU {
    box-sizing: border-box;
    width: calc(100% + 0.5rem);
    margin: calc(-0.25rem);
}

.eokzds {
    padding: 1.1875rem;
}

.lgqjga {
    text-decoration: none;
}

.DHIuM {
    font-family: IRANSansMobile;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(166, 170, 173);
    text-align: center;
}

.kiSDur {
    box-sizing: border-box;
    width: 100%;
    padding: 3rem;
    background-color: rgb(249, 250, 251);
}

.fdCBve {
    margin-right: 1.5rem !important;
}

.kYdGiL {
    font-family: SnapWeb;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(255, 0, 166);
    text-align: initial;
}

.fPgtmC {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(83, 86, 92);
    text-align: initial;
}

.bnwVlw {
    margin-top: 2rem;
}

.dQKHIK > * {
    padding: calc(0.5rem);
}

.iXdjEr {
    border: 0px;
}

.coJgcj {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all 150ms ease-out 0s;
    box-sizing: border-box;
    min-width: auto;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.09375rem solid rgba(58, 61, 66, 0.06);
    border-radius: 50%;
    color: rgb(58, 61, 66);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
    font-family: IRANSansMobile;
    font-size: 1rem;
    font-weight: 700;
}

.bZwjmw {
    border: 0px;
}

.bnTMxH > * {
    margin: 0.5rem;
}

.jvsOGS {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: rgb(58, 61, 66);
    text-align: initial;
}